<head>
  <meta charset="utf-8" />
  {{ metatags }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block htmltitle %}
  <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
  {% endblock %}
  <meta name="description" property="og:description" content="Rackspace Professional Services provides practical, unbiased application and hybrid
    cloud expertise to accelerate your IT transformation and create real business value. We
    offer expertise in infrastructure, application, data, security, CloudOps, DevOps,
    integration and process transformations." />
  <meta name="category" property="article:section" content="Guides" />
  <meta name="keywords" property="article:tag" content="{{ title|striptags|e }}{{ titlesuffix }}" />
  {# CSS #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://docs-ospc.rackspace.com/assets/css/style.css" />
  {# FAVICON #}
  {% if favicon %}
  <link rel="shortcut icon" href="https://docs-ospc.rackspace.com/assets/favicons/favicon.ico" />
  {% endif %}

  {# CANONICAL URL (deprecated) #}
  {% if theme_canonical_url and not pageurl %}
  <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html" />
  {% endif %}

  {# CANONICAL URL #}
  {%- if pageurl %}
  <link rel="canonical" href="{{ pageurl|e }}" />
  {%- endif %}
  {# JAVASCRIPTS #}
  {%- block scripts %}
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MW68KW');
  </script>
  <!-- End Google Tag Manager -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  {%- endblock %}

  {%- block linktags %}
  {%- if hasdoc('about') %}
  <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
  {%- endif %}
  {%- if hasdoc('genindex') %}
  <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
  {%- endif %}
  {%- if hasdoc('search') %}
  <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
  {%- endif %}
  {%- if hasdoc('copyright') %}
  <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
  {%- endif %}
  {%- if next %}
  <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
  {%- endif %}
  {%- if prev %}
  <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
  {%- endif %}
  {%- endblock %}
  {%- block extrahead %}
  {% endblock %}
</head>